<% flash.each do |key, value| %>
  <div id= "flash" class="alert alert-<%= key %>" style = "position:absolute; margin-left:40%;" >
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
  &nbsp;