<div class="container">
    <% flash.each do |key, value| %>
      <% if value != "You need to sign in or sign up before continuing." %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
