<!-- <% flash.each do |key, value| %>
  <div id= "flash" class="alert alert-<%= key %> center" style = "position:fixed; margin-left: 35%" >
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %> -->
